# Python
__pycache__/
.cursor/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.env

# Docker
*.dockerignore

# Kubernetes YAML
*.yaml
*.yml
*.json

# OS & Editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

# Jenkinsfile
*.jenkinsfile
*.groovy
